// Styling for the download section
section.download {
  position: relative;
  .col-lg-6 {
    align-self: center;
  }
  h2 {
    font-size: 50px;
    margin: 0 0 2rem;
  }
  img {
    max-height: 250px;
    border-radius: 100%;
  }
  @media(min-width: 768px) {
    h2 {
        font-size: 70px;
    }
    p {
      text-align: left;
    }
  }
}
