// Styling for the features section
section.features {
    .section-heading {
        margin-bottom: 100px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        box-shadow: 10px 10px 5px $gray;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
}
